# IDE (IntelliJ IDEA, VSCode и др.)
.idea/
*.iml
.vscode/

# Сборка
/target/
/build/

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Конфиденциальные файлы (например, переменные окружения)
.env
*.secret
*.key
*.pem

# Maven кэш (если случайно добавился)
.mvn/

# Java файлы
*.class

# Настройки тестов или покрытия
jacoco.exec
test-output/

# Spring Boot devtools
.spring-boot-devtools.properties